body {
background: white;
padding: 20px;
max-width: 400px;
margin: auto;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


h1 {
text-align: center;
color: #5a3825;
}


label {
display: block;
margin-top: 15px;
}


input, select, button {
width: 100%;
padding: 8px;
margin-top: 5px;
}


button {
background-color: #5a3825;
color: white;
border: none;
margin-top: 20px;
cursor: pointer;
}


.caffe-img {
width: 100%;
border-radius: 6px;
margin: 15px 0;
}


.hasil {
margin-top: 20px;
padding: 10px;
background: #eee;
}